{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <a
    href="{% url 'dashboard' %}"
    class="inline-block bg-rose-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-rose-700 transition duration-300"
  >
    GO TO Organizer Dashboard
  </a>

  <body class="bg-gray-100">
    <div class="w-1/2 mx-auto mt-8 bg-white shadow-lg p-6 rounded-md">
      <!-- Success/Error Messages -->
      {% if messages %} {% for message in messages %}
      <div
        class="px-4 py-2 mb-3 text-white rounded-md {% if 'success' in message.tags %} bg-green-500 {% elif 'error' in message.tags %} bg-red-500 {% else %} bg-blue-500 {% endif %}"
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %}

      <!-- Event Form -->
      <form method="POST" class="space-y-4">
        {% csrf_token %} 
        {{ event_form }}
        {{participant_form}}

        <button
          type="submit"
          class="bg-rose-600 px-4 py-2 text-white rounded-md hover:bg-rose-700 transition duration-300"
        >
          Submit
        </button>
        {% comment %} <a href="{% url "event_form" %}">
          <div  class="bg-gray-500 px-3 py-2 text-white mt-2 rounded-md"></div>
           
          
            Reset
          </a> {% endcomment %}
          <a
    href="{% url 'event_form' %}"
    class="inline-block bg-rose-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-rose-700 transition duration-300"
  >
  Reset
</a>
      </form>
    </div>
  </body>
</html>
